div {
    
    padding: 10px;
    display: flex;
    justify-content: center;
    
    
  }
  
  h2 {
    color: #333;
  }

  .example-card {
    max-width: 600px;
    min-height: 200px;
    
  }
  
  .example-header-image {
    background-image: url(/assets/usuario.png);
    background-size: cover;
   
  }

  mat-card{
    background-color: #7a7a7a;
    
  }